<!-- Products (Certifications and More), Cards -->
<section class="grid-1-column">
  <figure class="card">
    <img
      class="product-card-image"
      src="../../assets/certifications.jpg"
      alt="certification image"
    />
    <div class="product-title-and-description">
      <h3>Certifications</h3>
      <p>
        Faire reconnaitre vos compétences dans la maitrise du français grâce à
        des certifications fiables et rapides.
      </p>
    </div>
    <div>
      <a href="#">Decouvrir</a>
    </div>
  </figure>
</section>
