<!-- Products (Certifications and More), Cards -->
<section class="section-products">
  <figure class="card">
    <img
      class="product-card-image"
      src="../../assets/certifications.jpg"
      alt="certification image"
    />
    <div class="card-title-description-btn">
      <div>
        <h3 class="product-card-title">Certifications</h3>
      </div>
      <div class="card-description-btn">
        <div class="product-card-description">
          <p class="product-card-description-para">
            Faire reconnaitre vos compétences dans la maitrise du français grâce
            à des certifications fiables et rapides.
          </p>
        </div>
        <div class="btn-and-icon">
          <p>
            <a href="#">Decouvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </div>
  </figure>
  <figure class="card">
    <img
      class="product-card-image"
      src="../../assets/Cours-francais.jpg"
      alt="certification image"
    />
    <div class="card-title-description-btn">
      <div>
        <h3 class="product-card-title">Cours de français</h3>
      </div>
      <div class="card-description-btn">
        <div>
          <p class="product-card-description-para">
            Apprendre le français (tous niveaux) grâce à notre large offre de
            cours collectifs, particuliers ou ateliers de groupe.
          </p>
        </div>
        <div class="btn-and-icon">
          <p>
            <a href="#">Decouvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </div>
  </figure>
  <figure class="card">
    <img
      class="product-card-image"
      src="../../assets/biblio.jpg"
      alt="certification image"
    />
    <div class="card-title-description-btn">
      <div>
        <h3 class="product-card-title">Médiathèque</h3>
      </div>
      <div class="card-description-btn">
        <div>
          <p class="product-card-description-para">
            Lire, regarder, apprendre, se cultiver, échanger dans notre
            médiathèque !
          </p>
        </div>
        <div class="btn-and-icon">
          <p>
            <a href="#">Decouvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </div>
  </figure>
  <figure class="card">
    <img
      class="product-card-image"
      src="../../assets/event-muslim-eating.webp"
      alt="certification image"
    />
    <div class="card-title-description-btn">
      <div>
        <h3 class="product-card-title">Agenda culturel</h3>
      </div>
      <div class="card-description-btn">
        <div>
          <p class="product-card-description-para">
            Découvrir nos événements culturels à Casablanca ou en ligne.
          </p>
        </div>
        <div class="btn-and-icon">
          <p>
            <a href="#">Decouvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </div>
  </figure>
</section>
<section>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio vel quaerat
    autem aliquid cumque magni vitae accusamus quia obcaecati, nulla maxime quas
    repellendus ut recusandae laudantium modi? Odio, animi delectus. Laboriosam
    sit, excepturi tenetur architecto reprehenderit eligendi error sed
    voluptatem nostrum, dicta fugiat repudiandae cumque optio distinctio maiores
    magnam, magni quos quasi fuga nobis maxime. Dolorem neque quod laborum
    possimus. Voluptates earum id modi animi illo fuga rem sapiente repellat
    odio! Alias aspernatur accusamus voluptates, tempore molestiae sapiente
    aperiam adipisci, non, dolorem fugit ipsam possimus dolorum sed! Dolore,
    itaque placeat? Ad nobis eum, facere excepturi recusandae voluptate!
    Inventore quo officiis repudiandae! Reiciendis dicta praesentium molestias
    voluptatem eligendi officiis eos culpa quod fugit sint? Ad rem totam, fugit
    deserunt corrupti dolore. Tenetur magni omnis voluptatibus mollitia sed.
    Assumenda velit quisquam optio obcaecati ipsa sed incidunt suscipit.
    Inventore dignissimos, dolores nesciunt obcaecati fuga in provident iure
    cumque necessitatibus minus odit repellendus voluptas. Distinctio facilis,
    vero alias eligendi numquam est repellendus veniam facere ipsum impedit
    molestiae incidunt ut optio dolores totam accusantium. Inventore totam,
    quasi necessitatibus illum impedit voluptas hic numquam consequatur
    repellat. Reiciendis natus obcaecati molestias, explicabo asperiores aliquid
    quod, vitae alias voluptatum impedit cupiditate possimus voluptate nobis?
    Laboriosam necessitatibus, molestiae ex exercitationem ratione quisquam
    nostrum perspiciatis, facilis similique voluptas, enim ipsam. Illum dolorem,
    suscipit incidunt distinctio voluptas, similique laborum deserunt dolorum
    consequatur ducimus mollitia pariatur dignissimos aliquam impedit sint in,
    qui facilis quas nesciunt. Aliquam rem laboriosam nesciunt suscipit dolore
    incidunt. Enim reprehenderit consectetur, iusto sint dolor, illum voluptates
    saepe porro voluptatibus illo dicta. Nisi magnam, enim natus iure saepe
    aliquid soluta mollitia eaque blanditiis facere? Veniam a ducimus porro
    dolorum. Deleniti harum excepturi laudantium illum odit recusandae eos
    libero! A officia dicta quas culpa natus minima incidunt, aperiam placeat
    in, optio necessitatibus unde voluptate autem, recusandae adipisci? Quia,
    consectetur qui.
  </p>
</section>
