<!-- Products (Certifications and More), Cards -->
<section class="section-products">
  <figure class="card">
    <img
      class="product-card-image"
      src="../../assets/certifications copie.jpg"
      alt="certification image"
    />
    <div class="card-title-description-btn">
      <div>
        <h2 class="product-card-title">Certifications</h2>
      </div>
      <div class="card-description-btn">
        <div class="product-card-description">
          <p class="product-card-description-para">
            Faire reconnaitre vos compétences dans la maitrise du français grâce
            à des certifications fiables et rapides.
          </p>
        </div>
        <div class="btn-and-icon">
          <p>
            <a href="#">Decouvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </div>
  </figure>
  <figure class="card">
    <img
      class="product-card-image"
      src="../../assets/Cours-francais - Copie 2.jpg"
      alt="certification image"
    />
    <div class="card-title-description-btn">
      <div>
        <h2 class="product-card-title">Cours de français</h2>
      </div>
      <div class="card-description-btn">
        <div>
          <p class="product-card-description-para">
            Apprendre le français (tous niveaux) grâce à notre large offre de
            cours collectifs, particuliers ou ateliers de groupe.
          </p>
        </div>
        <div class="btn-and-icon">
          <p>
            <a href="#">Decouvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </div>
  </figure>
  <figure class="card">
    <img
      class="product-card-image"
      src="../../assets/biblio copie 2.jpg"
      alt="certification image"
    />
    <div class="card-title-description-btn">
      <div>
        <h2 class="product-card-title">Médiathèque</h2>
      </div>
      <div class="card-description-btn">
        <div>
          <p class="product-card-description-para">
            Lire, regarder, apprendre, se cultiver, échanger dans notre
            médiathèque !
          </p>
        </div>
        <div class="btn-and-icon">
          <p>
            <a href="#">Decouvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </div>
  </figure>
  <figure class="card">
    <img
      class="product-card-image"
      src="../../assets/event-muslim-eating copie 3.jpg"
      alt="certification image"
    />
    <div class="card-title-description-btn">
      <div>
        <h2 class="product-card-title">Agenda culturel</h2>
      </div>
      <div class="card-description-btn">
        <div>
          <p class="product-card-description-para">
            Découvrir nos événements culturels à Casablanca ou en ligne.
          </p>
        </div>
        <div class="btn-and-icon">
          <p>
            <a href="#">Decouvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </div>
  </figure>
</section>
