<section class="features">
  <h2>Nos Activites</h2>
  <p class="features-para">
    L’Institut français du Maroc oeuvre à la diffusion culturelle sur l'ensemble
    du territoire marocain et accompagne la production de projets innovants dans
    les domaines artistique, numérique ou universitaire.
  </p>
  <section class="grid-2-col">
    <figure class="feature-card">
      <img
        class="feature-img"
        src="../../assets/Mediatheque-feature.png"
        alt="image Mediatheque feature"
      />
      <div class="feature-text-btn">
        <h3>Médiathèque</h3>
        <p class="feature-p">
          Lire, regarder, apprendre, se cultiver, échanger dans notre
          médiathèque !
        </p>
        <div class="btn-and-icon">
          <p>
            <a href="#">Découvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </figure>
    <figure class="feature-card">
      <img
        class="feature-img"
        src="../../assets/Maison-du-livre - feature.png"
        alt="image Maison du livre"
      />
      <div class="feature-text-btn">
        <h3>Maison du Livre</h3>
        <p class="feature-p">
          Valoriser la littérature francophone et les acteurs de la chaîne du
          livre au Maroc.
        </p>
        <div class="btn-and-icon">
          <p>
            <a href="#">Découvrir le site</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              fill-rule="evenodd"
              d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
    </figure>
    <figure class="feature-card">
      <img
        class="feature-img"
        src="../../assets/Residences-artistiques.png"
        alt="image Residences artistiques"
      />
      <div class="feature-text-btn">
        <h3>Résidences artistiques</h3>
        <p class="feature-p">
          Soutenir et accompagner la création artistique et culturelle
          franco-marocaine.
        </p>
        <div class="btn-and-icon">
          <p>
            <a href="#">Découvrir les programmes</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </figure>
    <figure class="feature-card">
      <img
        class="feature-img"
        src="../../assets/Micro-Folies.png"
        alt="image Micro Folies"
      />
      <div class="feature-text-btn">
        <h3>Micro-Folie</h3>
        <p class="feature-p">
          Découvrir des milliers de chefs-d’œuvre internationaux grâce à notre
          musée numérique.
        </p>
        <div class="btn-and-icon">
          <p>
            <a href="#">Découvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </figure>
    <figure class="feature-card">
      <img
        class="feature-img"
        src="../../assets/Appels-a-projets.png"
        alt="image Appel à projets"
      />
      <div class="feature-text-btn">
        <h3>Appel à projets</h3>
        <p class="feature-p">
          Développer ensemble des projets artistiques, culturels,
          universitaires, scientifiques et de recherche.
        </p>
        <div class="btn-and-icon">
          <p>
            <a href="#">Découvrir</a>
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="icon icon-right-chevron"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m8.25 4.5 7.5 7.5-7.5 7.5"
            />
          </svg>
        </div>
      </div>
    </figure>
  </section>
</section>
